.Container
{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
  color: white;
  margin: -8px;
  /* background: url("./img/background.jpg"); */
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  &::-webkit-scrollbar{
    display: none;
  }}